
/* header */

.header-box {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    padding-top: 67px;
    padding-left: 6.8%;
    padding-right: 4.2%;
}
.home {
    color: #3D37F1;
    font-size: 32px;
    font-weight: bold;
}
.home-span {
    color: #4B647E;
    font-weight: lighter;
}
 ul {
    max-width: 581px;
    width: 30.2%;
    display: flex;
    justify-content: space-between;
 }

 .nav-item {
    color: #3D37F1;
    font-size: 20px;
    font-weight: bold;
    font-style: capital;
 }

 /* section 1 */
 /* .section1 {
    margin-bottom: 287.4px;
 }
 .section2 {
    margin-bottom: 132.7px;
 } */

 .flex-box {
    max-width: 1920px;
    width: 100%;
    margin-top: 262px;
    margin-bottom: 287px;
    display: flex;
    /* background: lightblue; */
    justify-content: space-between;
    margin-left: 6.8%;
    margin-right: 4.2%;

    

 }
 .text-container {
    max-width: 602;
    width: 33%;
    display: flex;
    flex-flow: column wrap;
    /* margin-right: 307px; */
    /* background: lightcoral; */
 }
 .text-box {
    max-width: 600px;
    width: 100%;
    font-size: 78px;
    line-height: 109px;
 }
 .text-box1 {
    max-width: 602px;
    width: 100%;
    height: 103px;
    font-size: 22px;
    margin-top: 42px;
    margin-bottom: 83.9px;
    line-height: 32px;
 }

 .blue-box {
    width: 263.67px;
    height: 76.77px;
    background:#3D37F1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 38px;
    font-size: 23px;
 }
 .wave {
    color:#fff
 }
 .img-box {
    max-width: 801px;
    width: 41.7%;
 } 
 .image {
    display: block;
    width: 100%;
 }
 /* section 2 */

 .container-box2 {
    max-width: 1920px;
    width: 100%;
    padding: 0 19.50%;
    margin-top: 87px;
    /* background: lightpink; */
    margin-bottom: 132px;
 }

 .text-box3 {
    max-width: 712px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 67px;
}

h1 {
    color:#3D37F1;
    font-size: 20px;
    font-weight: bold;
}
.text1 {
    font-size: 40px;
    line-height: 80px;
}
.text2 {
    font-size: 18px;
    text-align: center;
    line-height: 28px;
}

 .flex-box2 {
    max-width: 1920px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .box-size {
    max-width: 370px;
    width: 32.3%;
    height: 451px;
    /* background: lightskyblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .icon {
    margin-bottom: 57px;
 }
 h2 {
    color: #fff;
    font-size: 22px;
 }

 .text {
    max-width: 328px;
    width: 88.6%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 11px;
    margin-top: 13px;
    color: #fff;
    line-height: 26px;
 }

 .round {
    max-width: 131px;
    width: 35.4%;
    height: 45px;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid white;
    
 }

 .click {
    color:#fff;
    font-size: 15px;
 }
.round:hover  {
    background: #fff;
}
.round:hover .click {
    color: black;
}


.box-size:nth-child(1) {
    background:#FBBA77; 
    margin-bottom: 60px;
}
.box-size:nth-child(2) {
    background: #41EAE3;
    margin-bottom: 60px;
}
.box-size:nth-child(3) {
    background: #69529F;
    margin-bottom: 60px;
}
.box-size:nth-child(4) {
    background: #4386D2;
}
.box-size:nth-child(5) {
    background: #A5A2F6;
}
.box-size:nth-child(6) {
    background: #FF8088
}
/* :hover shadow */
.box-size:nth-child(1):hover {
    box-shadow: 0px 15px 25px #FBBA77;
}
.box-size:nth-child(2):hover {
    box-shadow: 0px 15px 25px#41EAE3;
}
.box-size:nth-child(3):hover {
    box-shadow: 0px 15px 25px#69529F;
}
.box-size:nth-child(4):hover {
    box-shadow: 0px 15px 25px #4386D2;
}
.box-size:nth-child(5):hover {
    box-shadow: 0px 15px 25px #A5A2F6;
}
.box-size:nth-child(6):hover {
    box-shadow: 0px 15px 25px#FF8088
}